Source: logwitch
Section: devel
Priority: optional
Maintainer: Sven Steckmann <logwitch@steckmann.de>
Build-Depends: debhelper (>=9), 
	 cmake, 
	 libboost-all-dev,
	 python-dev,
	 liblog4cplus-dev,
	 qtbase5-dev
Standards-Version: 4.0.0
Vcs-Git: https://github.com/Boldie/logwitch.git
Homepage: https://www.steckmann.de/logwitch

Package: logwitch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: logwitch-python, logwitch-log4cplus
Description: Logfile analyzer tool for various logging frameworks
 Anlyzer can be used to analyze logfiles created from log4cplus.
 With additional plugins the analyzer can use more file formats or
 other logging frameworks like python or log4cplus remote logging.

Package: logwitch-dummy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plugin for Logwitch to add dummy log entries for demo purposes
 Plugin can be used to test or show a demo without any real logging data to
 someone.

Package: logwitch-python3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plugin for Logwitch to use python as remote logging source
 Plugin can handle socket logger from python3
 
Package: logwitch-log4cplus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plugin for Logwitch to use log4cplus as remote logging source
 Plugin can handle socket logging from log4cplus
